.box{
    display: flex;
    flex-direction: row;
    border: 5px solid rgb(13, 80, 82);
}

.box2{
    display: flex;
    flex-direction: row;
}
.header{
    width:700px;
    color: rgb(32, 23, 118);;
}

.pee{
    color:rgb(32, 23, 118);
    font-size: 27px;
}

body{
    background-color: rgb(33, 56, 56);
}

.chart{
    width:700px;
    height: 600px;
}

.text{
    width: 100px;
}